.home_container {
    height: 100vh;
    width: auto;
    padding: 1em;
    background: url('../../img/home-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 4em;
    text-align: center;
    width: 60%;
    height: auto;
}

.content h1{
    color: white;
    font-size: 50px;
}

.content p {
    color: #ccc6c6;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 3em;

}

.btn_container {
    margin-top: 7em;
}

@media only screen and (max-width: 1100px) {
    .home_container {
        background: url('../../img/home-bg.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
    }

    .content {
        width: 100%;
    }
  }