.nav_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.nav_container_scroll {
    transition: .3s;
    background-color: rgb(69, 69, 69);
}

.nav_container ul {
    display: flex;
}

.nav_container ul li {
    list-style: none;
    margin: 1em .7em;
}

.nav_container ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}